<!-- 헤더 -->
<div class="headerContainer">
    <a href="/front/index.html">
        <img class="logo" src="../../images/logo/logo.png" />
    </a>
    <div class="menu">
        <a href="../recipe/recipe_list.html">레시피</a>
        <a href="../guide/guide_list.html">가이드</a>
        <div class="sub-menu">
            <a href="">커뮤니티</a>
            <div class="sub-menu__wrap">
                <div class="sub-menu__content">
                    <a href="../community/myrecipe.html">나만의레시피</a>
                </div>
                <div class="sub-menu__content">
                    <a href="../community/qna.html">요리상담소</a>
                </div>
            </div>
        </div>
        <a href="../notice/notice_list.html">공지사항</a>
    </div>
    <div class="right_menu">
        <!-- <img class="icon" src="images/icon2/search.png" /> -->
        <a href="../search/searching_list.html">
            <span class="material-symbols-outlined">search</span>
        </a>
        <a href="../user/login.html">로그인</a>
        <a href="../user/sign_up.html">회원가입</a>
    </div>
</div>
