<!-- 헤더 -->
<div class="headerContainer">
    <img class="logo" src="/front/images/logo/logo.png" />
    <div class="menu">
        <a href="">레시피</a>
        <a href="">가이드</a>
        <a href="">커뮤니티</a>
        <a href="/front/html/notice/notice_list.html">공지사항</a>
    </div>
    <div class="right_menu">
        <!-- <img class="icon" src="images/icon2/search.png" /> -->
        <a href="">
            <span class="material-symbols-outlined">search</span>
        </a>
        <a href="/front/html/user/login.html">로그인</a>
        <a href="/front/html/user/sign_up.html">회원가입</a>
    </div>
</div>
