@charset "utf-8";

.clear{display:block;height:0px;font-size:0px;font-size:0em;line-height:0px;content:'';overflow:hidden;clear:both;}
.clearfix:after{content: ''; display: block; clear: both;}
.ir{display: inline-block; text-indent:9000px; white-space: nowrap; overflow:hidden;}

[type=button], [type=submit], [type=reset], a, button, input{-webkit-appearance: none; -ms-appearance: none; appearance: none;}

body,h1,h2,h3,h4,h5,input,select,textarea,button{font-family: 'GmarketSans';}
input,select{padding: 12px 8px; border: 1px solid #e9e9e9; border-radius: 4px;}
input[type="text"]:focus, textarea:focus, select:focus{border-color: #4a4a4a;}