@charset "utf-8";

/* ****** 공통 ****** */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        /* url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'), */
        url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
        /* url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'), */
        url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        /* url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'), */
        url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* components */
.pageTitle{padding: 60px 0; font-size: 32px; text-align: center;}
#modal{display: none;}
.textGreen{color:  #4FA72F;}
.inputError{color: #FF0303;}

/* input checkBox, radio */
input[type="checkbox"].chkBox+label:before,input[type="radio"].chkRadio+label:before{display: inline-block; content: ''; width: 24px; height: 24px; margin-right: 8px; background-color: #ececec; border-radius: 4px; box-sizing: border-box; vertical-align: middle;}
input[type="checkbox"].chkBox:checked+label:before{background-color: #8acc39; font-family: "Material Symbols Outlined"; content: "check"; color: #ffffff; font-size: 20px; line-height: 24px; text-align: center;}
input[type="radio"].chkRadio+label:before{border-radius: 300px; vertical-align: sub;}
input[type="radio"].chkRadio:checked+label:before{background-color: #ffffff; border: 8px solid #8acc39;}

/* 비밀번호 숨기기,보이기 */
.inputField{position: relative;}
.inputField label{display: block; width: 0; height: 0; text-indent: -999px; overflow: hidden;}
.inputField .pwdToggle{position: absolute; right: 16px; top: 10px; cursor: pointer;}
.inputBox .inputError{display: block; font-size: 12px; text-align: left;}

/* button */
.btnGroup{display: flex;}
.btnSm{flex: 0 0 120px; padding: 12px 1px 8px 5px; border-radius: 4px;}
.btnBd{border: 1px solid #4FA72F; background-color: #fff; color: #4FA72F;}
.btnBd:hover{border-color: #248125; color: #248125 ;}
.btnBdGray{border: 1px solid #c1c1c1; background-color: #fff; color: #999;}
.btnBg{background-color: #4FA72F; color: #fff;}
.btnBg:hover{background-color: #248125;}
.btnBgGray{background-color: #f0f0f0; color: #999;}
.btnBgGray:hover{background-color: #e9e9e9;}
.btnGroup button{flex: 0 0 120px; padding: 12px 0 8px; border-radius: 4px;}
.btnGroup button:first-child{margin-right: 8px;}
.btnGroup.lg button{flex-basis: 160px; padding: 14px 0; border-radius: 4px;}

/* 탭 스타일 */
.tabGroup{display: flex; margin-bottom: -1px;}
.tabGroup .tab{width: 140px; padding: 16px 0; text-align: center; border: 1px solid #e9e9e9; border-bottom: 0; border-radius: 4px 4px 0 0; color: #c1c1c1;}
.tabGroup .tab:hover{border-color: #999; color: #999;}
.tabGroup .tab.active{border-color: #4FA72F; background-color: #fff; color: #4FA72F;}

/* 페이징 */
.paging{clear: both;}
.paging ul{margin: 60px 0; width: 100%; text-align: center;}
.paging li{display: inline-block; margin: 5px 6px; vertical-align: middle;}
.paging li.active a{border-radius: 50%; background-color: #8acc39; color: #ffffff; font-weight: 500;}
.paging li a{width: 30px; height: 30px; font-size: 14px; line-height: 34px;}
.arrow a{color: #ddd; font-size: 18px;}
.arrow button{background: transparent;}
.arrow button span{vertical-align: middle;}

/* header */
header {position: fixed; top: 0; left: 0; width: 100%; padding: 10px 0; background-color: #fff;  z-index: 99; border-bottom: 1px solid #eee;}
.headerContainer { display: flex; justify-content: space-between; width: 1280px; margin: auto; }
.logo { width: 70px; }
.menu { display: flex; gap: 100px; align-items: center;}
.menu a { font-size: 18px; }
.right_menu { display: flex; align-items: center; gap: 20px; right: 10%; font-size: 14px; }


/* footer */
#footer{ border-top: 1px solid #eee; position: relative; min-width: 1280px; margin: 60px auto 0; padding: 50px 0 ;font-size: 14px; height: 188px;}
.contain {width: 1280px; margin: 0 auto;}
.footerLogo { float: left; width: 100px; height: 100px; margin-right: 30px;}
.fmenu { display: inline-block; border-radius: 5px; margin-bottom: 10px;}
.fmenu li { display: inline-block;}
.fmenu a { display: inline-block; padding: 10px 0 10px 20px;}
.fmenu a::after { content: "|"; padding-left: 20px; }
.fmenu li:last-child a::after { content: ""; }
address > span { margin-right: 10px; display: inline-block; margin-bottom: 5px;}
.sns {float: right;}
.sns li {float: left;}
.sns img {width: 40px; padding-left: 15px;}