@charset "utf-8";

/* ****** 공통 ****** */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         /* url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'), */
         url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         /* url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'), */
         url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         /* url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'), */
         url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}


/* components */
.textGreen{color:  #4FA72F;}

/* input checkBox, radio */
input[type="checkbox"].chkBox+label:before,input[type="radio"].chkRadio+label:before{display: inline-block; content: ''; width: 24px; height: 24px; margin-right: 8px; background-color: #ececec; border-radius: 4px; box-sizing: border-box; vertical-align: middle;}
input[type="checkbox"].chkBox:checked+label:before{background-color: #8acc39; font-family: "Material Symbols Outlined"; content: "check"; color: #ffffff; font-size: 20px; line-height: 24px; text-align: center;}
input[type="radio"].chkRadio+label:before{border-radius: 300px; vertical-align: sub;}
input[type="radio"].chkRadio:checked+label:before{background-color: #ffffff; border: 8px solid #8acc39;}

/* button */
.btnGroup{display: flex;}
.btnBd{border: 1px solid #4FA72F; background-color: #fff; color: #4FA72F;}
.btnBg{background-color: #4FA72F; color: #fff;}
.btnGroup button{flex-basis: 120px; padding: 12px 0; border-radius: 4px;}
.btnGroup button:first-child{margin-right: 8px;}
.btnGroup.lg button{flex-basis: 160px; padding: 14px 0; border-radius: 4px;}