body { padding: 0; margin: 0; }
#main { padding-top: 80px;}

/* 헤더 */
header { width: 100%; padding: 10px 0; background-color: #fff; position: fixed; z-index: 1; border-bottom: 1px solid #eee;}
.headerContainer {display: flex; justify-content: space-between; width: 1280px; margin: auto;}
.logo { width: 70px; }
.menu { display: flex; gap: 100px; align-items: center; text-decoration: none;}
.menu > a { text-decoration: none; color: black; font-size: 18px;}
.right_menu {display: flex; align-items: center; gap: 20px;right: 10%; font-size: 14px;}
.right_menu > a {text-decoration: none; color: black;}
.icon { width: 30px; height: 30px; margin-right: 10px;}


/* 공통 */
#main{width: 1280px; margin: 0 auto;}
.index_title{margin: 30px 0; text-align: center;}
.index_title h2{font-size: 30px;}

/* 메인배너 */
.main_banner {height: 425px; margin: 30px auto 150px; display: block; }
.banner_img {width: 100%; height: 100%;}

/* 최신 레시피 , 10분 요리 */
.recipe_container {margin-bottom: 150px;}
.more_recipe { text-decoration: none; position: absolute; font-size: 18px; font-weight: normal; right: 0; top: 2px;}
.recipe_item_container {display: flex; justify-content: space-between;}
.recipe_item img {width: 270px; height: 200px; border-radius: 12px;}
.recipe_img { width: 100%; height: 180px;}
.recipe_item { position: relative; }
.recipe_item .recipe_heart { position: absolute; width: 30px; height: 30px; margin: 5px 5px; right: 0;}
.recipe_item p {line-height: 20px;}
.recipe_item .title {font-size: 20px;}




/* 랭킹 */
.rank {display: flex; flex-direction: column; align-items: center;}
.rank > h2 {text-align: center; padding-bottom: 10px; font-size: 30px; border-bottom: 1px solid #e9e9e9;}
.rank_row { border-bottom: 1px solid #e9e9e9; width: 100%; padding: 30px 0; display: flex; align-self: center; justify-content: space-between;}
.rank_item { display: flex; align-items: center; gap: 20px;}
.rank_item .rank_img { width: 100px; height: 100px; border-radius: 4px;}
.rank_item h1 {font-size: 20px;}
.rank_item p { line-height: 20px;}
.rank_item .title {font-size: 20px;}
.plusRank {width: 100%; padding: 15px 0; margin-bottom: 100px; text-align: center; border-bottom: 1px solid #e9e9e9; }
.plusRank > a { text-decoration: none; margin-top: 2px; font-size: 18px; color: black;}
.plusRank .plus { width: 10px; height: 10px; margin-top: 5px; margin-right: 5px; }
.plusRank .material-symbols-outlined{vertical-align: text-bottom;}


/* 집슐랭픽 */
.zipPick {margin-bottom: 150px;}
.zipPick h1 { text-align: center; margin-bottom: 30px; font-size: 30px;}
.zipPickInner {width: 1280px; margin: 0 auto;}
.zipPickInner ul {display: flex; justify-content: center;}
.subImg {margin-top: 25px;}
.zipPickInner img { width: 150px; height: 150px; border-radius: 100px;  margin: 0 20px;}
.mainImg img {width: 200px; height: 200px;}
.pickButton { font-size: 30px; margin-top: 95px;}
.pickButton:nth-child(1) { margin-right: 30px;}
.pickButton:nth-child(7) { margin-left: 30px;}
.pickButton:hover {color: #8acc39;}

/* 커뮤니티 */
.contentList {height: 400px; margin-bottom: 150px;}
.cont_title1, .cont_title2 {font-size: 26px; margin-bottom: 15px; line-height: 20px;}
.contentList .more {float: right; font-size: 16px; font-weight: normal;}
.contentList img { width: 100px; height: 100px; border-radius: 4px;}
.myRecipe {width: 600px; float: left; }
.myRecipe .textBox {float: left;}
.myRecipe .textBox .title {margin-bottom: 10px;}
.myRecipe .imgBox {float: right;}
.myRecipe li {margin-bottom: 120px; border-top: 1px solid #e9e9e9; padding-top: 20px;}
.cookConsulting {width: 600px; float: right;}
.cookConsulting .textBox {float: left;}
.cookConsulting .textBox .title {margin-bottom: 10px;}
.cookConsulting .imgBox {float: right;}
.cookConsulting li {margin-bottom: 120px; border-top: 1px solid #e9e9e9; padding-top: 20px;}

/* 카테고리 */
.category { width: 100%; padding: 20px 0; background-color: #eee; margin-bottom: 150px;}
.categoryBox ul li{ position: relative; float: left; padding-left: 70px;}
.categoryBox ul li p { font-size: 12px; margin-top: 5px; text-align: center;}
.categoryName img {width: 50px; height: 50px; overflow: hidden; opacity: 0.3;}

/* 사이드 바 */
.sideBanner {border: 1px solid #e9e9e9; width: 150px; height: 400px; font-size: 15px; text-align: center;} 
.sideBanner li {padding-top: 20px;}