@charset "utf-8";

main{display: block; margin: auto; padding: 90px 20px 0; width: 1320px;}
.pageTitle{padding: 60px 0; font-size: 32px; text-align: center;}
body,h1,h2,h3,h4,h5,input,select,textarea,button{font-size: 15px;}

.mypage{margin-top: 60px;}
.myMenu{float: left; width: 24%; /* padding-top: 40%;  */margin-right: 24px; /* background-color: #f7f7f7; */}

/**마이페이지 - 메인**/
/*leftBox*/
.myPage_leftBox{
    /* border: 1px solid #8a8a8a; */
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    float: left;
    width: 24%;
    padding: 40px 16px;
    /* padding-top: 40%; */
    margin-right: 24px;
    /* background-color: #f7f7f7; */
    background-color: #fff;
    margin-top: 100px;
}
.myProfile_img{
    border-radius: 50%;
    display: block;
    /* margin: 20px 18%; */
    margin: 0  auto;
    /* width: 200px;
    height: 200px; */
    width: 80px;
    height: 80px;
}
.userId_text{
    margin: 16px 0;
    /* font-size: 20px; */
    font-size: 16px;
    text-align: center;
}
.myPage_edit_btn{
    display: block;
    width:100px;
    border-radius: 5px;
    background-color: #4FA72F;
    color: #fff;
    font-size: 14px;
    /* margin: 15px 33%; */
    margin: 0 auto;
    padding: 10px;
}
.myBox_count{
    width: 100%;
    /* margin-bottom: 10px; */
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.myBox_countBox{
    border-radius: 10px;
    /* background-color: #ddd; */
    width: 90px;
    /* height: 90px; */
    /* margin:10px; */
    padding: 0 6px;
    text-align: center;
}
.myBox_countBox > p{
    margin-top: 12px;
    color: #999;
    font-size: 14px;
    text-align: center;
}
.myBox_countBox > p a{
    display: inline-block;
    color: #4FA72F;
}
#myBox_icon{
    /* margin: 10px 35px 20px; */
}

/*mypage_main*/
.myPage_main{
    float: right;
    width: calc(76% - 24px)
}
.my_icon_btn{
    width: 93%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8a8a8a;
}
.my_icon{
    display: flex;
    /* flex: 1; */
    gap: 6px;
    align-items: center;
    width: 30%;
}
.myPage_more_btn{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
/* .my_icon > span{
    top: 8px;
    position: relative;
} */
/* .my_icon > p{
    top: 14px;
    left: 6px;
    position: relative;
} */
/* #myPage_more_btn{
    bottom: 5px;
    position: relative;
} */
.myPage_list{
    width: 100%;
    margin: 20px auto;
    display: flex
}
.myPage_content{
    display: flex;
    flex: 1;
    width: 30%
}
.myPage_img{
    width: 270px;
    height: 200px;
    border-radius: 12px;
    margin: 0 10px;
    left: 37px;
    position: relative;
}
.myPage_text{
    left: 50px;
    position: relative;
    margin: 10px 0;
}
.myPage_heart_subtitle{
    padding-bottom: 5px;
}
.myPage_post_subtitle{
    padding-bottom: 5px;
}
/*마이페이지 _ 댓글목록*/
.post-section .title {
    width: 100%;
    margin: 16px 0 8px;
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-section p {
    width: 100%;
    margin-bottom: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.postdate{
    display: block;
    color: #999;
    font-size: 12px;
    font-weight: 300;
}
.accList .icon {
    display: inline-block;
    margin-right: 4px;
    color: #c1c1c1;
    font-size: 18px;
}
.accList .accItem:first-child {
    margin-right: 8px;
}
.accList .accItem {
    display: flex;
    align-items: center;
}
.accList {
    display: flex;
    color: #999;
    font-size: 11px;
}
.post-section {
    width: 70%;
}
.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit_post_container {
    padding: 24px 24px 0;
    border-bottom: 1px solid #e9e9e9;
}
.edit_post_container .imgwrap {
    justify-content: space-around;
    display: flex;
    padding-bottom: 24px;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
}
.edit_post_container_last{
    margin-bottom: 45px;
}

/*찜, 가이드 페이지*/
.myPage_componentWrap{
    margin-top: 50px;
}
#heart_btn_icon{
    font-size: 25px;
    position: relative;
    left: 240px;
    top: 38px;
    color: #4FA72F;
}
.myHeart_list{
    float: right;
    width: calc(76% - 24px)
}
.heart_list_contents{
    width: 310px;
    float: left;
    padding: 20px 0;
}
.heart_list_text{
    left: 10px;
    position: relative;
}
.heart_list_img{
    width: 270px;
    height: 200px;
    border-radius: 12px;
    margin: 0 10px;
}
/*정보 수정*/
.profile_section{
    border-top: 1px solid #cfcccc;
    border-bottom: 1px solid #cfcccc;
    height: 191px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 15px;
}
.title{
    width: 100%;
    margin: 16px 0 8px;
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mypage_leftBox_edit{
    margin: 50px;
    width: 250px;
    height: 350px;
    border: 2px solid #d2d1d1;
    text-align: center;
    float: left;
    border-radius: 10px;
    right: 25px;
    top: 50px;
    position: relative;
}

.edit_info{
    float: left;
    position: relative;
    top: 50px;
    width: 900px;
    margin-left: 15px;
}
.edit_info > h3{
    font-size: 22px;
    margin-left: 15px; 
}

.edit_info > hr{
    width: 900px;
}

.profile_img_edit{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.profile_edit_btn{
    position: relative;
    display: table-caption;
    left: 156px;
    bottom: 125px;
}

.profile_edit_btn > input{
    border-radius: 5px;
    background-color: #4FA72F; color: #fff;
    font-size: 12px;
    margin: 6px;
}

.edit_form_item{
    padding: 15px;
}

.edit_label{
    display: block;
    margin-bottom: 8px;
    font-size: 0.9em;
    position: relative;
    left: 6px;
}

.edit_input{
    width: 100%;
}

.edit_input2{
    width: 40%;
}

.edit_warning{
    position: relative;
    top: 9px;
    left: 3px;
    color: #FF0000;
    display: none;
}
.edit_warning2{
    position: relative;
    top: 9px;
    left: 3px;
    color: #FF0000;
}
.edit_tel_warning{
    position: relative;
    top: 9px;
    left: 3px;
    color: #FF0000;
}
.edit_tel_warning2{
    position: relative;
    top: 9px;
    left: 3px;
    color: #FF0000;
}
.edit_pwdToggle{
    position: relative;
    right: 41px;
    top: 10px;
    cursor: pointer;
}

.edit_sign_input_box{
    display: flex;
    align-items: center;
}

.edit_email_input{
    margin-right: 10px;
}

.edit_email_input2{
    margin: 0 10px;
}

#edit_email_input_choose{
    text-align: center;
    width: 130px;
    box-sizing: border-box;
    appearance: auto;
}
.edit_num{
    border-bottom: 1px solid #cfcccc;
    padding-bottom: 40px;
}

.edit_confirm_btn{
    width: 17%;
    right: 0;
    border-radius: 4px;
    line-height: 1.2em;
    padding: 2px;
    align-items: center;
    height: 44.72px;
    margin-left: 10px;
} 


.edit_leave{
    position: relative;
    float: right;
    bottom: 31px;
    right: 16px;
    font-size: 12px;
}

.edit_leave:hover{
    color: rgb(210, 71, 71);
}

.edit_can_fin_btn{
    margin: auto;
    text-align: center;
    position: relative;
}

.edit_fin_button{
    width:100px;
    border-radius: 5px;
    background-color: #4FA72F;
    color: #fff;
}

.edit_cancle_button{
    width:100px;
    border-radius: 5px;
    background-color: #4FA72F;
    color: #fff;
}

.mypage_eidt_contain{
    margin-top: 150px;
}


.pageTitle{padding: 80px 0 60px; font-size: 32px; text-align: center;}
body,h1,h2,h3,h4,h5,input,select,textarea,button{font-size: 15px;}

/* 마이페이지 레프트 */
.myMenu{float: left; width: 24%; padding-top: 40%; margin-right: 24px; background-color: #f7f7f7;}


/* *** 비밀번호 확인 페이지 *** */
.pwdConfirmWrap{position: relative; float: right; padding: 60px; width: calc(76% - 24px); min-height: 540px; text-align: center;}
#confirmForm{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#confirmForm .confirmInfo{margin-bottom: 32px;}
#confirmForm .confirmInfo h6{margin-bottom: 16px; font-size: 28px;}
#confirmForm .confirmInfo p{ color: #4a4a4a; font-size: 18px; line-height: 28px;}
#confirmForm #pwdCheck{margin-bottom: 6px; width: 326px;}
#confirmForm .btnGroup{margin-top: 40px; justify-content: center;}


/* *** 내가 쓴 글 페이지 ***  */
.AllList{float: right; width: calc(76% - 24px);}
.componentWrap{display: flex; justify-content: space-between; border-bottom: 1px solid #e9e9e9;}
.componentWrap .btnGroup{flex: 1 0 auto; justify-content: flex-end; margin-bottom: 6px;}
.btnGroup.hide{display: none;}
/* .bdBtnGroup .btn:not(:last-child){display: none;} */
.bdBtnGroup button{margin-right: 6px;}
.bdBtnGroup button:last-child{ margin-right: 0;}
.bdBtnGroup .btn{position: relative;}
.bdBtnGroup label{position: absolute; left: 0; top: 0; width: 100%; height: 100%; line-height: 39px;}

/* *** 쓴 글,댓글 리스트 *** */
/* 공통 */
.listItem .chkWrap {display: none; align-self: center;}

/* 쓴 글 */
.mypostItem .contBox h6{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.mypostItem .contBox p{width: 100%; margin-bottom: 16px; font-size: 15px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

/* 댓글 */
.myreplyItem{position: relative;}
.myreplyItem .contBox{width: 94%;}
.myreplyItem .contBox h6{margin-bottom: 16px;}
.myreplyItem .accList{position: absolute; right: 32px; bottom: 24px;}
.replyPage{color: #bbb; font-size: 14px;}
.replyPage .category{padding-right: 8px; color: #8acc39; font-weight: 500;}
.replyPage .linkTitle{display: inline-block ; max-width: 70%; vertical-align: middle; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.replyPage .material-symbols-outlined{font-size: 18px; vertical-align: middle;}

/*임시 탭*/
.tabContainer.on {display: block;}
.tabContainer {display: none;}