@charset "utf-8";

main{display: block; margin: auto; padding: 90px 20px 0; width: 1320px;}
.pageTitle{padding: 60px 0; font-size: 32px; text-align: center;}
body,h1,h2,h3,h4,h5,input,select,textarea,button{font-size: 15px;}

/* 마이페이지 레프트 */
.myMenu{float: left; width: 24%; /* padding-top: 40%;  */margin-right: 24px; /* background-color: #f7f7f7; */}

.mypage_leftBox{
    margin: 50px;
    width: 250px;
    height: 350px;
    border: 2px solid #d2d1d1;
    text-align: center;
    float: left;
    border-radius: 10px;
}

.profile_img{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    bottom: 10px;
}

.mypage_leftBox > h1{
    position: relative;
    bottom: 10px;
}

.edit_btn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 65px;
    height: 25px;
    border-radius: 5px;
    position: relative;
    bottom: 25px;
    background-color: #4FA72F; color: #fff;
    font-size: 12px;
}

#myBox_icon{
    position: relative;
    right: 35px;
    top: 15px;
}

.myBox_count{
    position: relative;
    bottom: 45px;
}

.myBox_count > p{
    position: relative;
    left: 105px;
    text-align: left;
    bottom: 9px;
}

/*마이페이지 메인*/
.mypage_main{
    float: left;
    width: calc(100% - 350px);
}

#main_icon{
    position: relative;
    top: 62px;
}

#left{
    position: relative;
    top: 40px;
    left: 30px;
}

.more_btn{
    position: relative;
    left: 860px;
}

/*마이페이지-메인(찜 목록)*/
.haert_li{
    float: left;
}

.subtitle{
    position:relative;
    left: 20px;
}

.title{
    position:relative;
    left: 20px;
}

.heart_img{
    width: 200px;
    height: 200px;
    margin: 16px;
}

/*마이페이지-메인(내 글 목록)*/
.write_li{
    float: left;
}

.write_img{
    width: 200px;
    height: 200px;
    margin: 16px;
}

#myPage_comment{
    border-bottom: 1px solid #bbb;
    padding: 20px;
}

.myPage_comment_bottom{
    margin-bottom: 70px;
}


/*찜 목록*/
.heartlist{
    float: left;
    width: calc(100% - 350px);
}

/*정보 수정*/
.profile_section{
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    height: 191px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.edit_info{
    float: left;
    position: relative;
    top: 50px;
}
.edit_info > h4{
    font-size: 18px;
    margin: 10px;
}

.edit_info > hr{
    width: 900px;
}

.profile_img_edit{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.profile_edit_btn{
    position: relative;
    display: table-caption;
    left: 156px;
    bottom: 125px;
}

.profile_edit_btn > input{
    border-radius: 5px;
    background-color: #4FA72F; color: #fff;
    font-size: 12px;
    margin: 6px;
}

.edit_form_item{
    padding: 15px;
}

.edit_label{
    display: block;
    margin-bottom: 8px;
    font-size: 0.9em;
}

.edit_input{
    width: 100%;
}

.edit_input2{
    width: 40%;
}

.edit_pwdToggle{
    position: relative;
    right: 41px;
    top: 10px;
    cursor: pointer;
}

.edit_sign_input_box{
    display: flex;
    align-items: center;
}

#edit_email_input_choose{
    text-align: center;
    width: 130px;
    box-sizing: border-box;
    appearance: auto;
}

.edit_confirm_btn{
    width: 17%;
    right: 0;
    border-radius: 4px;
    line-height: 1.2em;
    padding: 2px;
    align-items: center;
    height: 44.72px;
} 


.edit_leave{
    position: relative;
    left: 849px;
    top: 6px;
    font-size: 12px;
}

.mypage_edit_contain{
    position: absolute;
    float: left;
}


.pageTitle{padding: 80px 0 60px; font-size: 32px; text-align: center;}
body,h1,h2,h3,h4,h5,input,select,textarea,button{font-size: 15px;}

/* 마이페이지 레프트 */
.myMenu{float: left; width: 24%; padding-top: 40%; margin-right: 24px; background-color: #f7f7f7;}


/* *** 비밀번호 확인 페이지 *** */
.pwdConfirmWrap{position: relative; float: right; padding: 60px; width: calc(76% - 24px); min-height: 540px; text-align: center;}
#confirmForm{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#confirmForm .confirmInfo{margin-bottom: 32px;}
#confirmForm .confirmInfo h6{margin-bottom: 16px; font-size: 28px;}
#confirmForm .confirmInfo p{ color: #4a4a4a; font-size: 18px; line-height: 28px;}
#confirmForm #pwdCheck{margin-bottom: 6px; width: 326px;}
#confirmForm .btnGroup{margin-top: 40px; justify-content: center;}


/* *** 내가 쓴 글 페이지 ***  */
.AllList{float: right; width: calc(76% - 24px);}
.componentWrap{display: flex; justify-content: space-between; border-bottom: 1px solid #e9e9e9;}
.componentWrap .btnGroup{flex: 1 0 auto; justify-content: flex-end; margin-bottom: 6px;}
.btnGroup.hide{display: none;}
/* .bdBtnGroup .btn:not(:last-child){display: none;} */
.bdBtnGroup button{margin-right: 6px;}
.bdBtnGroup button:last-child{ margin-right: 0;}
.bdBtnGroup .btn{position: relative;}
.bdBtnGroup label{position: absolute; left: 0; top: 0; width: 100%; height: 100%; line-height: 39px;}

/* *** 쓴 글,댓글 리스트 *** */
/* 공통 */
.listItem .chkWrap {display: none; align-self: center;}

/* 쓴 글 */
.mypostItem .contBox h6{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.mypostItem .contBox p{width: 100%; margin-bottom: 16px; font-size: 15px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

/* 댓글 */
.myreplyItem{position: relative;}
.myreplyItem .contBox{width: 94%;}
.myreplyItem .contBox h6{margin-bottom: 16px;}
.myreplyItem .accList{position: absolute; right: 32px; bottom: 24px;}
.replyPage{color: #bbb; font-size: 14px;}
.replyPage .category{padding-right: 8px; color: #8acc39; font-weight: 500;}
.replyPage .linkTitle{display: inline-block ; max-width: 70%; vertical-align: middle; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.replyPage .material-symbols-outlined{font-size: 18px; vertical-align: middle;}

/* *** 모달 *** */
#modal{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.15); z-index: 999;}
#modal .modalBox{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 340px; padding: 40px 32px 32px; background-color: #fff; border-radius: 6px; font-family: 'S-CoreDream'; text-align: center;}
#modal .modalCont h6{margin-bottom: 16px; font-size: 18px;}
#modal .modalCont p{margin-bottom: 32px; color: #999; font-size: 15px; font-weight: 400;}
#modal .btnGroup{justify-content: center;}
