@charset "UTF-8";
main{display: block; margin: auto; padding: 0 20px; width: 1320px;}

/* 오늘의 인기글 */
.pageTitle {
    padding: 60px 0; 
    font-size: 32px; 
    text-align: center;
}
.best-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.best{
    margin: 20px 20px;
}
span.date{
    margin-right: 8px;
}
ul.accList{
    display: flex;
    align-items: center;
}
li.accItem{
    margin-right: 8px;
}
.material-symbols-outlined{
    margin-right: 4px;
}
img {
    width: 200px;
    height: 200px;
}
.title{
    font-size: 16px;
}

/* 나만의 레시피 */
.btn_container{
    display: flex;
    justify-content: space-around;
}
.allWrite {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*복수의 행*/
}
.twoWrite {
    float: left;
    width: 50%;
    padding: 0 0 24px 0;
}
.write_date { /*게시글한개*/
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px; /*행 간격*/
    float: right;
    display: flex;
    align-items: center;
}
.write_section {
    margin-right: 60px;
}
.write_date img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.btn_write {
    background-color: #4FA72F; color: #fff;
    flex-basis: 120px; 
    padding: 12px 0; 
    border-radius: 4px;
    margin-right: 8px;
}