@charset "utf-8";
main{display: block; margin: auto; padding: 0 20px; width: 1320px;}
.pageTitle{padding: 60px 0; font-size: 32px; text-align: center;}
header{height: 100px; background-color: #ffffff; border-bottom: 1px solid #eee}
body,h1,h2,h3,h4,h5,input,select,textarea,button{font-size: 15px;}
.w1080{padding: 0 100px;}

/* 회원탈퇴 */
.leaveWrap, .leaveDoneWrap{padding: 60px; margin-bottom: 100px; border: 1px solid #c1c1c1; border-radius: 6px;}
.leaveSec{margin-bottom: 80px;}
.leaveSec h6{margin-bottom: 24px; font-size: 22px;}
.leaveSec p{ color: #4a4a4a; line-height: 28px;}
.leaveSec .guideCont{margin-bottom: 16px;}
.leaveSec .chkAsk{display: block; padding: 16px 0; font-size: 17px;}
.chkList li{padding: 6px 0; color: #4a4a4a;}
.chkList textarea{display: block; margin-top: 8px; padding: 12px; border: 1px solid #c1c1c1; border-radius: 4px; font-size: 13px;}
.leaveWrap .btnGroup{justify-content: center;}

/* 회원탈퇴 - 완료 */
.leaveDoneWrap{text-align: center;}
.leaveDoneWrap .leaveSec{margin-bottom: 40px;}
.leaveDoneWrap .btnGroup{justify-content: center;}

/* 한비 */
/* 아이디/비밀번호 찾기 */
#find_section *{
    white-space: nowrap;
}
#find_section{
margin: 200px auto 0;
width: 40%;
position: relative;
}
#find_target{
text-align: center;
font-size: 3em;
padding: 10px;
margin: 50px;
}
#find_id,#find_pwd{
display: none;
}
#find_box_id{
    display: inline-block;
}
#find_box_pwd{
    display: inline-block;
}
.find_box{
    text-align: center;
    padding: 10px;
    width: 25%;
    height: 40px;
    border: 2px solid #E9E9E9;
    color: #c1c1c1;
    border-radius: 5px 5px 0 0;
    background-color: white;
}
#find_box_box{
    text-align: center;
}
.selected_find_box{
    border: 2px solid #4FA72F;
    border-bottom: none;
    color: #4FA72F;
}
#find_id_button{
cursor: pointer;
}
#find_pwd_button{
cursor: pointer;
}
#find_input_area{
width: 100%;
margin-top: -1px;
padding: 20px;
padding-top: 30px;
border-top: 1px solid #E9E9E9;
}
#find_email_box{
width: 100%;
}
#find_email_box>input,select{
width: 30%;
height: 40px;
border: 1px solid #ccc;
border-radius: 5px;
margin: 0 3px;
text-align: center;
}
#find_email_box>span{
margin: 0 3px;
}
#find_name{
width: 100%;
height: 40px;
border: 1px solid #ccc;
border-radius: 5px;
padding: 5px 20px;
}
#find_name_box{
width: 74%;
margin: 18px auto;
}
.find_warning{
color: red;
font-size: 0.8em;
margin-top: 3px;
margin-left: 4px;
display: none;
}

#find_do_find{
text-align: center;
font-size: 0.7em;
width: 100%;
margin-top: 20px;
color: white;
font-size: 1em;
background-color: #8acc39;
border: 1px solid #80bb37;
border-radius: 5px;
height: 46px;
cursor: pointer;
}


/* 로그인 영역 */
#login_section *{
    white-space: nowrap;
}
#login_section{
    width: 22%;
    margin: auto;
    padding-top: 140px;
    text-align: center;
}
#login_title{
    font-size: 3.5em;
}
.login_input_left{
    text-align: left;
}
.login_input_left>input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 15px auto;
    height: 40px;
    padding: 8px;
    font-size: 0.8em;
    border-radius: 4px;
    border:1px solid #ccc;
}
.login_input_right{
    text-align: right;
}
.login_small{
    font-size: 0.9em;
}
.login_find{
    text-decoration: none;
    color: black;
}
.login_input_div{
    font-size: 1.1em;
}
.login_login{
    width: 100%;
    height: 48px;
    background-color: #8acc39;
    border: 1px solid #80bb37;
    border-radius: 4px;
    margin: 18px 0;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
}
#login_email_box{
    width: 74%;
    margin: 10px auto;
}
.login_email{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 16px;
    background-color: #ccc;
}
.login_email>a{
    height: 100%;
    width: 100%;
}
.login_warning{
    display: none;
    color: red;
    font-size: 0.8em;
}
#login_fail{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
#login_fail_box{
    position: relative;
    background-color: white;
    margin: 200px auto;
    width: 30%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
#login_fail_out{
    position: absolute;
    bottom: 28px;
    left: 42%;
    background-color: #4FA72F;
    color: white;
    border-radius: 5px;
    width: 16%;
    height: 40px;
}
#login_fail_msg{
    margin-top: 45px;
}

/* 회원가입 */
#sign_body{
    height: 1000px;
}
#sign_section *{
    white-space: nowrap;
    box-sizing: border-box;
    margin-top: 6px;
}
#sign_title{
    font-size: 3.5em;
    height: 100px;
}
#sign_section{
    width: 28%;
    margin: 60px auto 0;
    text-align: center;
}
.sign_left_label{
    display: block;
    text-align: left;
    font-size: 1.2em;
}
.sign_info_input{
    display: inline-block;
    height: 40px;
    width: 84%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
#sign_pwd2{
    display: block;
}
.sign_email_input{
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 130px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
#sign_email_input_choose{
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 130px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.sign_input_box{
    text-align: left;
    padding: 0px;
    position: relative;
}
.sign_input_button{
    width: 12%;
    height: 90%;
    position: absolute;
    right: 15px;
    border: none;
    border-radius: 5px;
    line-height: 1.2em;
    background-color: #444;
    color: white;
} 
.sign_warning{
    color: red;
    width: 100%;
    margin-top: 0;
    text-align: left;
    font-size: 0.8em;
    display: none;
}
.sign_agreement{
    text-decoration: none;
    color: #5d7e34;
}
#sign_warning_agree{
    text-align: center;
}
#sign_submit_button{
    width: 100%;
    height: 46px;
    border: 1px solid #80bb37;
    border-radius: 5px;
    background-color: #8acc39;
    color: white;
    font-size: 0.95em;
    text-align: center;
}
#sign_id_warning_box{
    position: relative;
    height: 22px;
}
#sign_id_warning_box p{
    position: absolute;
}