@charset "utf-8";
main{display: block; margin: 0 auto; padding: 100px 20px 0; width: 1320px;}
.pageTitle{padding: 60px 0; font-size: 32px; text-align: center;}
/* header{height: 100px; background-color: #ffffff; border-bottom: 1px solid #eee} */
body,h1,h2,h3,h4,h5,input,select,textarea,button{font-size: 15px;}
.w1080{padding: 0 100px;}

/* 회원탈퇴 */
.leaveWrap, .leaveDoneWrap{padding: 60px; margin-bottom: 100px; border: 1px solid #c1c1c1; border-radius: 6px;}
.leaveSec{margin-bottom: 80px;}
.leaveSec h6{margin-bottom: 24px; font-size: 22px;}
.leaveSec p{ color: #4a4a4a; line-height: 28px;}
.leaveSec .guideCont{margin-bottom: 16px;}
.leaveSec .chkAsk{display: block; padding: 16px 0; font-size: 17px;}
.chkList li{padding: 6px 0; color: #4a4a4a;}
.chkList textarea{display: block; margin-top: 8px; padding: 12px; border: 1px solid #c1c1c1; border-radius: 4px; font-size: 13px;}
.leaveWrap .btnGroup{justify-content: center;}

/* 회원탈퇴 - 완료 */
.leaveDoneWrap{text-align: center;}
.leaveDoneWrap .leaveSec{margin-bottom: 40px;}
.leaveDoneWrap .btnGroup{justify-content: center;}

/* 한비 */
/* 아이디/비밀번호 찾기 */
#find_body *{
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}
#find_section{
margin: 0 auto;
width: 40%;
position: relative;
}
#find_target{
text-align: center;
font-size: 3em;
}
#find_id,#find_pwd{
display: none;
}
#find_box{
position: relative;
height: 10px;
margin-bottom: 20px;
}
#find_id_button{
position: absolute;
left: 10px;
cursor: pointer;
}
#find_pwd_button{
position: absolute;
right: 10px;
cursor: pointer;
}
#find_input_area{
width: 75%;
margin: 0 auto;
}
.find_id_label,.find_pwd_label{
display: block;
margin-bottom: 6px;
}
#find_email_box{
width: 100%;
}
#find_email_box>input{
width: 30%;
height: 40px;
border: 1px solid #ccc;
border-radius: 5px;
margin: 0 3px;
text-align: center;
}
#find_email_box>span{
margin: 0 3px;
}
#find_name{
width: 100%;
height: 40px;
border: 1px solid #ccc;
border-radius: 5px;
padding: 5px 20px;
}
#find_name_box{
width: 74%;
margin: 0 auto;
}
.find_warning{
color: red;
font-size: 0.8em;
margin-top: 3px;
margin-left: 4px;
visibility: hidden;
}

#find_do_find{
text-align: center;
font-size: 0.7em;
width: 100%;
margin-top: 20px;
color: white;
font-size: 1em;
background-color: #8acc39;
border: 1px solid #80bb37;
border-radius: 5px;
height: 46px;
cursor: pointer;
}


/* 로그인 영역 */
#login_section{
    max-width: 340px;
    margin: 0 auto;
}
.login_input_left>label{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    text-indent: -999px;
}
.login_input_left>input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
}
.login_acc{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}
.login_sns{
    margin: 40px 0;
    text-align: center;
}
.login_sns h2{
    color: #c1c1c1;
    font-weight: 400;
}
.login_small{
    font-size: 0.9em;
}
.login_find{
    text-decoration: none;
    color: black;
}
.login_login{
    width: 100%;
    height: 48px;
    border-radius: 4px;
    margin: 18px 0;
    color: white;
    font-size: 1.2em;
    border: none;
}
.login_email{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 20px;
    background-color: #ccc;
}
.login_email>a{
    height: 100%;
    width: 100%;
}

/* 회원가입 */
#sign_body{
    height: 1000px;
}
#sign_section{
    max-width: 440px;
    margin: 0 auto;
}
.form_item{
    margin-bottom: 32px;
}
.form_item .sign_info_input.inputField:first-of-type{
    margin-bottom: 8px;
}
.sign_left_label{
    display: block;
    margin-bottom: 8px;
    font-size: 0.9em;
}
.sign_info_input{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.sign_info_input input{
    width: 100%;
}
.sign_info_input2{
    width: 76%;
}

.form_email .sign_input_box{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.sign_email_input{
    width: 130px;
    box-sizing: border-box;
}
#sign_email_input_choose{
    text-align: center;
    width: 130px;
    box-sizing: border-box;
    appearance: auto;
}
.sign_input_box{
    position: relative;
}
.sign_input_button{
    width: 22%;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 4px;
    line-height: 1.2em;
    padding: 2px;
} 
.sign_warning{
    display: none;
    color: red;
    width: 100%;
    margin: 8px 0;
    text-align: left;
    font-size: 0.8em;
}
.sign_agreement{
    display: inline-block;
    text-decoration: underline;
    color: #4FA72F;
}
.sign_agreement:hover{
    text-decoration: underline;
}
.sign_agreement:visited{
    color: #1A5C2C;
}
#sign_submit_button{
    width: 100%;
    height: 48px;
    margin-bottom: 60px;
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
    text-align: center;
}
#sign_id_warning_box{
    position: relative;
}